<div class="container-fluid">
  <div class="container">
    <div class="row">
      
      <hr color="dark" height="1px" />
      <hr color="dark" height="1px" />
      
      <p></p>
      <h1>Experiencia laboral</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <button
          type="button"
          class="btn btn-dark"
          routerLink="/newexp"
          *ngIf="isLogged"
        >
          Nueva Experiencia
        </button>
      </div>
    </div>
    
    <div class="container contiene-table col-10">
      <div class="row" *ngFor="let Experiences of expe">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-3"
        >
          <h3>{{ Experiences.nombreExp }}</h3>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
          {{ Experiences.fechaInicio.split("-")[2] }}-{{
            Experiences.fechaInicio.split("-")[1]
          }}-{{ Experiences.fechaInicio.split("-")[0] }}
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
          {{ Experiences.fechaFinal.split("-")[2] }}-{{
            Experiences.fechaFinal.split("-")[1]
          }}-{{ Experiences.fechaFinal.split("-")[0] }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
          {{ Experiences.descExp }}
        </div>
        <div
          *ngIf="isLogged"
          class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
        >
        <p></p>
          <button
            type="button"
            class="btn btn-light"
            routerLink="/editexp/{{ Experiences.id }}"
          >
            <i class="bi bi-pencil-fill">EDITAR</i>
          </button>
        </div>
        <div
          *ngIf="isLogged"
          class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
        >
        <p></p>
          <button
            type="button"
            class="btn btn-outline-light"
            (click)="delete(Experiences.id)"
          >
            <i class="bi bi-trash-fill">BORRAR</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
