.container-fluid{
  background: -prefix-linear-gradient(
    top,
    rgb(241, 142, 21) 33,
    rgb(195, 49, 236) 33,
    rgb(241, 142, 21) 113
  );
  background: linear-gradient(
    to right,
    rgb(241, 142, 21) 33%,
    rgb(195, 49, 236) 33%,
    rgb(241, 142, 21) 113%
  );
}

.row{
  padding: 20px;
  width: 101%;
  font-family: finlandica;
  font-size: 1.6em;
  gap: 5px;
}

h1, h3{
  display: inline;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.contiene-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 35px;
}
p{
  height: 2em;
}

.btn .btn-light, .btn .btn-outline-danger{
  margin-bottom: 5px;
  margin-top: 5px;
}

/*---------------Vista dispositivos Grandes--------*/

@media screen and (min-width: 679px) {
  .row {
    gap: 0px;
  }
}