<div class="container">
  <div class="row">
    <div class="header-form">
      <h2>Experiencia</h2>
    </div>
    <div>
      <div *ngIf="formExp.invalid && !submitted" [ngClass]="'error'">
        <b><u> Formulario NO VALIDO</u></b>
      </div>
      <br />
      <form
        [formGroup]="formExp"
        (ngSubmit)="onCreate()"
        id="form-exp"
        novalidate
        #f="ngForm"
        class="was-validated"
      >
        <div class="form-box">
          <div class="form-group1">
            <label for="nombreExp">
              <b>Nombre de la Empresa</b>
            </label>
              <input
                type="text"
                class="form-control"
                id="nombreExp"
                formControlName="nombreExp"
                name="nombreExp"
                minlength="3"
                maxlength="255"
                placeholder="Nombre de la Empresa..."
                [(ngModel)]="nombreExp"
                required
              />
              <span class="validity"></span>

            <div *ngIf="formExp.get('nombreExp').invalid" [ngClass]="'error'">
              <div *ngIf="'nombreExp.errors.required'" class="error-msg">
                El campo es requerido, 3 caracteres como mínimo.
              </div>
            </div>
          </div>
          <br /><br />

          <div class="fechas">
            <div class="inicio">
              <label for="fechaInicio">
                <b> Fecha de Inicio </b>
                <input
                  type="date"
                  [min]="pastStr"
                  [max]="todayStr"
                  name="fechaInicio"
                  formControlName="fechaInicio"
                  class="form-control"
                  [(ngModel)]="fechaInicio"
                  required
                  (ngModelChange)="dateChanged()"
                />
                <span class="validity"></span>
              </label>
              &nbsp;
              <div class="inicio-msg">
                <div
                  *ngIf="formExp.get('fechaInicio').invalid"
                  [ngClass]="'error'"
                >
                  <div *ngIf="'fechaInicio.errors.required'" class="error-msg">
                    El campo es requerido, una fecha
                    <br />
                    del ultimo año.
                  </div>
                </div>
              </div>
            </div>
            <div class="final">
              <label for="fechaFinal">
                <b> Fecha Final </b>
                <input
                  type="date"
                  [min]="disableDateStr"
                  [max]="todayStr"
                  name="fechaFinal"
                  formControlName="fechaFinal"
                  class="form-control"
                  [(ngModel)]="fechaFinal"
                  required
                />
                <span class="validity"></span>
              </label>
              &nbsp;
              <div class="final-msg">
                <div
                  *ngIf="formExp.get('fechaInicio').invalid"
                  [ngClass]="'error'"
                >
                  <div *ngIf="'fechaInicio.errors.required'" class="error-msg">
                    El campo es requerido, una fecha
                    <br />
                    hasta el dia de HOY (inclusive).
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
          <div class="form-group2">
            <label for="descExp">
              <b> Descripción de las tareas</b>
            </label>
            <textarea
              type="text"
              class="form-control"
              id="descExp"
              formControlName="descExp"
              name="descExp"
              minlength="10"
              maxlength="255"
              placeholder="Descripción de las tareas..."
              [(ngModel)]="descExp"
              required
            ></textarea>
            <div *ngIf="formExp.get('descExp').invalid" [ngClass]="'error'">
              <div *ngIf="'descExp.errors.required'" class="error-msg">
                El campo es requerido es de 10 caracteres como mínimo.
              </div>
            </div>
          </div>
          <br />
          <button class="btn btn-primary" [disabled]="f.invalid" type="submit">
            Agregar experiencia
          </button>
          <br /><br />
        </div>
      </form>
      <div *ngIf="submitted" [ngClass]="'success'">
        <b>Formulario enviadose...</b>
      </div>
    </div>
  </div>
</div>
